<div [ngStyle]="style2">
    <div class="app" id="something">
        <a [href]="url">this is a link</a>

        <!-- dotted line -->
        <div style="border-bottom: 1px dotted black; margin: 10px"></div>

        <img [src]="pic1" [width] = "size" [ngStyle]="{'filter' : 'brightness(' + percent + '%)'}"><br>
        <textfield text = "Name" [fname] = "fname" [lname] = "lname"> </textfield>

        <!-- dotted line -->
        <div style="border-bottom: 1px dotted black; margin: 10px"></div>
        
        this is a 
        <textbutton text="text" buttonText="button" (clicked)="click($event)"></textbutton>
        <p [hidden]="!checked">{{thingy | date: 'MM/dd/yyyy hh:mm:ss'}}</p>
        <br [hidden]="checked">

        <checktext (clicked)="check($event)">this is a checktext</checktext>

        <!-- dotted line -->
        <div style="border-bottom: 1px dotted black; margin: 10px"></div>

        <p>{{title}} and {{url}}</p>
        <!-- <textfield text="attribute" fname="text" lname="url" [(ftext)]="title" [(ltext)]="url"></textfield> -->
        title: <input type="text" placeholder="numero uno" [(ngModel)]="title"><br>
        url: <input type="text" placeholder="http://google.com" [(ngModel)]="url"><br>

        <button (click)="onClick()">BUTTON</button>
        <input type="button" value="BUTTON" (click)="onClick()">

        <mylist [data]="data">this is a list</mylist>

        <!-- dotted line -->
        <div style="border-bottom: 1px dotted black; margin: 10px"></div>

        <input type="range" min="0" max="100" [(ngModel)]="percent">
        <p>{{percent}}</p>
    </div>
</div>